{% extends "base.html" %}
{% block title%} Registro {% endblock %}
{% block  content %}
<div class="container-fluid" style="margin-top: 200px;">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
              <div class="container-fluid">
                  <div class="col-md-12" style="">
                  <button type="submit" class="btn btn-default form-control">AGREGAR</button>
              </div>

              </div>


          </div>

        </div>


</div>
</div>


{% endblock %}
